/*div{
  color:blue;
  width:200;
  text-align: center;
  background-color:gold;
  border:2px solid red;
  padding:20px;
  margin:45px 34px 45px 54px;
  
}*/
/*.box{

  width: 1000px;
  height:1000px;

}*/
.one{
  width:300px;
  height:350px;
  border:2px solid green
}
.one img{
  width:300px;
  height: 300px;
}
/*.head{
  text-align: center;
}*/
/*.only{
  font-size:15px;
   
  text-align:center;
  background-color: aqua;
  width:400px;
  height:auto;
  margin-top:200px;
  margin-left:460px;
  border:2px double rgb(51, 153, 114);

}
li{
  font-size: 30px;
}
.two{
  background-color:chocolate;
}*/
/*.calc{
  text-align:center;
  background-color:lightgreen;
  width:300px;
  height:auto;
  margin-top:20px;
  margin-left:30px;
  border:2px double rgb(51, 153, 114);

}
.hi{
  text-align:center;
  background-color:rgb(225, 173, 230);
  width:400px;
  height:280px;

  margin-left:30px;
  border:2px double rgb(51, 153, 114);

}
#good{
  background-color: antiquewhite;
}

button{
  padding:15px;
  margin:5px;
  background-color:aqua;
  font-size:20px;
  
  
}*/



